
<div class="showarea">
<h1 class="show_title"><%= @cat.name.upcase %></h1>


<label class="profile" >AGE</label>
<div class="value">
<%=@cat.age%>
</div>


<label class="profile">BIRTHDATE</label>
<div class="value">
<%=@cat.birth_date%>
</div>

<label class="profile">COLOR</label>
<div class="value">
<%= @cat.color%>
</div>

<label class="profile">SEX</label>
<div class="value">
<%= @cat.sex %>
</div>

<label class="profile">CRIMES</label>

<div class = value>
<%=@cat.description%>
</div>

<br>
<br>
<br>

<div class="buttonarea">

<div class="updatebutton">
<a href="<%= edit_cat_url(@cat) %>">Update <%= @cat.name %></a>
</div>

<div class="showspace">
</div>

<div class="buttonarea">
<br>
<br>
</div>

